.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 10rem;
    image-rendering: pixelated;
}

.loader-pixel {
    border: 0.5px solid #2f2f2f;
    padding: 0.25rem;
    margin: 0 0.25rem;
}

.loader-pixel.selected {
    background-color: #2f2f2f;
}

