.games-page{
    display: grid;
    grid-template-columns: auto auto auto;
}

.game-card{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #d8d8d8;
    max-width: 18rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.game-card > *{
    margin: 5px 0;
}

.game-card > img {
    width: 286px;
    height: 158px;
}

.game-card-title, .game-card-description {
    padding: 0.5rem 1rem;
}

